
body {
 font-family: "Roboto", sans-serif;
 color: #434455;
 background-color:#FFFF;
}

ul,ol {
 list-style-type: none;
}

a {
    text-decoration: none;
}

.logo {
 color:#4D5AE5;
 font-family: "Raleway", sans-serif;
 font-size: 18px;
 font-weight: 700;
 line-height: 1.17; 
 letter-spacing: 0.03em;
 text-transform: uppercase;
}

.header-logo .logo-part {
    color:#2E2F42;
} 

.footer-logo .logo-part {
    color:#F4F4FD;
} 

.nav-link {
 color:#2E2F42;
 font-size: 16px;
 font-weight: 500;
 line-height: 24px;
 letter-spacing: 0.32px;
}

.contacts {
 font-style:normal;
}

.contacts-link {
 color:#434455;
 font-size: 16px;
 line-height: 24px;
 letter-spacing: 0.32px;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:focus-visible,
.contacts-link:hover,
.contacts-link:focus,
.contacts-link:focus-visible {
  color:#404BBF;
  outline-color:#404BBF ;
}

.hero-section {
  background-color:#2E2F42;
}

.heading-hero-section {
  color:#FFFF;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; 
  letter-spacing: 1.12px;
}

.button {
  cursor:pointer;
  background-color:#4D5AE5;
  color: #FFFFFF;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; 
  letter-spacing: 0.64px;
}

.button:hover,
.button:focus {
  background-color:#404BBF;
}


.heading-three {
  color:#2E2F42;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; 
  letter-spacing: 0.4px;
}
.our-team {
  background-color:#F4F4FD;
}

.our-team-member {
  background-color: #FFFFFF ;
}
.features-text,
.our-team-text,
.our-portfolio-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-transform: capitalize 
}
.our-team {
  background-color:#F4F4FD;
}
.heading-two {
  color:#2E2F42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; 
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.page-footer {
  background-color:#2E2F42;
}

.footer-text {
  color:#F4F4FD;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px; 
}
 